## messageSource=classpath:/prolamsacore/messages/email-quoteOrderApproval_$lang.properties
## messageSource=classpath:/prolamsacore/messages/email-generic_$lang.properties
## messageSource=classpath:/prolamsastorefront/messages/base_$lang.properties

#macro( genHtmlBoldFont $text )
<font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif"><b>$text</b></font>
#end
#macro(genHtmlLinkStartTag $url)
<a href="$url"><font color="#666666">
#end
#macro(genHtmlLinkEndTag)
</font></a>
#end
#macro(genHtmlLink $url $textColor $bodyContent)
<a href="$url"><font color="$textColor">$bodyContent</font></a>
#end
#macro(formatInteger $amount)
${ctx.numberTool.format('###,###,##0', $amount)}
#end
#macro(formatDecimal $amount)
${ctx.numberTool.format('###,###,##0.00', ${amount})}
#end
#macro(formatCurrency $amount)
${ctx.numberTool.format('$ ###,###,##0.00', ${amount})}
#end
#macro(formatDate $aDate)
${ctx.dateTool.format('MM/dd/yyyy', ${aDate})}
#end

<html>
	<head>
	</head>
	<body bgcolor="#ffffff">
	<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td align="center" valign="top">
				<table width="950" border="6" align="center" cellpadding="0" cellspacing="0" bordercolor="#ebedee">
					<tr>
						<td align="center" valign="top" bgcolor="#FFFFFF">
							<table width="930" cellpadding="0" cellspacing="0" border="0" align="center">
								<tr>
									<td valign="middle">&nbsp;</td>
								</tr>
								<tr>
									<td valign="middle">
										<!-- ${ctx.cmsSlotContents.SiteLogo} -->
										<div>
											<a href="${ctx.baseUrl}" target="_blank">
												<img title="Axis Logo" alt="Axis Logo" src="${ctx.themeResourceUrl}/images/Axis200x100.png" class="CToWUd">
											</a>
										</div>
									</td>
								</tr>
								<tr>
									<td height="30" align="right" valign="middle" bgcolor="#51585c">
										<font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><a href="${ctx.secureBaseUrl}/my-account"><font color="#FFFFFF">${ctx.messages.myAccount}</font></a>&nbsp;&nbsp;</font>
									</td>
								</tr>
								<tr>
									<td align="center" valign="middle">
										<a href="${ctx.baseUrl}" style="display:block; margin-top:10px;margin-bottom:10px;">${ctx.cmsSlotContents.TopContent}</a>
									</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td align="left" valign="top">
										<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.getMessage('salutation', ${ctx.title},${ctx.displayName})}</b>,</font></p>
										<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('thankYouForOrder', "#genHtmlBoldFont(${ctx.order.code})")}</font></p>
                                        <p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.getMessage('createdBy',${ctx.displayName}, ${ctx.order.user.uid})}</b>,</font></p>
										<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.getMessage('unitOfMeasure')}:&nbsp;${ctx.order.unitWhenPlaced.name}</b></font></p>

										<table  width="100%" border="1" align="center" cellpadding="2" cellspacing="0" bordercolor="#bfc1c0">
											<tr>
											    <th><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('Purchase_Order')}</th>
											    <th><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('Billing_Address')}</font></th>
											    <th><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('Delivery_Address')}</font></th>
											    <th><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('Transportation_Mode')}</font></th>
										  	</tr>
											<tr>
												<td>
													<p><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('PO_No')}</font></p>
													<p><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${ctx.order.purchaseOrderNumber}</font></p>
												</td>
												<td>
													#if ($!ctx.order.costCenter.unit.name)
														<p><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${ctx.order.costCenter.unit.name}</font></p>
													#end
													#if ($!ctx.order.billingAddress.line1)
														<p><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${ctx.order.billingAddress.line1}</font></p>
													#end
													#if ($!ctx.order.billingAddress.line2)
														<p><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${ctx.order.billingAddress.line2}</font></p>
													#end
													<p>
														<font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">
															#if ($!ctx.order.billingAddress.town)
																${ctx.order.billingAddress.town},
															#end
															#if ($!ctx.order.billingAddress.region.name)
																${ctx.order.billingAddress.region.name},
															#end
															#if ($!ctx.order.billingAddress.postalCode)
																${ctx.order.billingAddress.postalCode}
															#end															
														</font>
													</p> 
													#if ($!ctx.order.TPago)		
                                                        #set( $tPago = "${ctx.order.TPago}" )													
													    <p><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('Payment_Terms')}</font></p>													    
														<p><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage($tPago)}</font></p>
													#end											
												</td>
												<td>
													#if ($!ctx.order.costCenter.unit.name)
														<p><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${ctx.order.costCenter.unit.name}</font></p>
													#end
													<p><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${ctx.order.deliveryAddress.line1}</font></p>
													#if ($!ctx.order.deliveryAddress.line2)
														<p><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${ctx.order.deliveryAddress.line2}</font></p>
													#end
													<p>
														<font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">
															#if ($!ctx.order.deliveryAddress.town)
																${ctx.order.deliveryAddress.town},
															#end
															#if ($!ctx.order.deliveryAddress.region.name)
																${ctx.order.deliveryAddress.region.name},
															#end
															#if ($!ctx.order.deliveryAddress.postalCode)
																${ctx.order.deliveryAddress.postalCode}
															#end
														</font>
													</p> 
												</td>
												<td>
													 #set ($deliverydate = "#formatDate(${ctx.order.requestedDeliveryDate})")
													<p><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${ctx.order.transportationMode.name} (${ctx.order.transportationMode.maxCapacity} Tons)</font></p>
													<p><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${ctx.order.transportationMode.incotermCode} - ${ctx.order.transportationMode.incotermDescription} </font></p>
													<p><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('Requested_Delivery_Date')}</font></p>
													<p><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">$deliverydate</font></p>
												</td>
											</tr>
										</table>

										<br />

										<table width="100%" border="1" align="center" cellpadding="0" cellspacing="0" bordercolor="#bfc1c0">
                                            <tr>
                                                <td>
                                                    <table width="100%" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td ><font color="#666666" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.getMessage('partNumber')}</b></font></td>
                                                            <td ><font color="#666666" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.getMessage('Description')}</b></font></td>
                                                            <td ><font color="#666666" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.getMessage('Pieces_Bundle')}</b></font></td>
                                                            <td ><font color="#666666" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.getMessage('Quantity')}</b></font></td>
                                                            <td ><font color="#666666" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.getMessage('Weight')}</b></font></td>
                                                            <td ><font color="#666666" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.getMessage('Location')}</b></font></td>
                                                            <td ><font color="#666666" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.getMessage('Price_per_Feet')}</b></font></td>
                                                            <td ><font color="#666666" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.getMessage('Net_price_wo_taxes')}</b></font></td>
                                                            <td ><font color="#666666" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.getMessage('Ready_to_Ship')}</b></font></td>
                                                        </tr>
                                                        #foreach( $entry in ${ctx.order.entries} )
                                                        	#set ($trStyle ="")
                                        					#set ($tdStyle ="")
                                                       ##	#if ($entry.isTransportationGroupFull)
                                                        ##		#set ($trStyle ="background: none repeat scroll 0 0 #90EE90;")
                                                        ##	#else
                                                        ##		#set ($trStyle ="background: none repeat scroll 0 0 #D3D3D3;")
                                                        ##	#end
                                                        		
                                                       ## 	#if ($entry.isTransportationGroupFull)
                                                       ## 		#set ($tdStyle ="border-bottom: 1px solid #000000;")
                                                       ## 	#end
                                                        	#set ($weight ="")
                                                        	#if ($!ctx.order.unitWhenPlaced)
							                                  	#set ($unitWhenPlacedCode =${ctx.order.unitWhenPlaced.code})
							                                  	#if ($unitWhenPlacedCode.contains("lb") || $unitWhenPlacedCode.contains("ft"))
							                                  		#set ( $weight =  ($entry.product.bundleLbEquiv*$entry.quantity) + " Lbs")
							                                   	#end	
							                                   	#if ($unitWhenPlacedCode.contains("kg") || $unitWhenPlacedCode.contains("mt"))
							                                   		#set ( $weight =  ($entry.product.bundleKgEquiv*$entry.quantity) + " Kgs")
							                                   	#end
							                                   	#if ($unitWhenPlacedCode.contains("ton") )
							                                   		#set ( $weight =  ($entry.product.tnEquiv*$entry.quantity) + " Tons")
							                                   	#end
							                                #end
                                                        <tr style="$trStyle">
	                                                		<td style="$tdStyle" valign="middle"><p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">$entry.product.visibleCode</font></p></td>
	                                                		<td style="$tdStyle" valign="middle"><p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">$entry.product.name</font></p></td>
	                                                		<td style="$tdStyle" valign="middle" align="right"><p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">#formatInteger($entry.product.piecesPerBundle)&nbsp;</font></p></td>
	                                                		<td style="$tdStyle" valign="middle" align="right"><p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">#formatInteger($entry.quantity)&nbsp;</font></p></td>
															<td style="$tdStyle" valign="middle" align="right"><p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.numberTool.format(${ctx.orderWeightPattern}, ${weight})}&nbsp;</font></p></td>
															<td style="$tdStyle" valign="middle"><p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">$entry.formattedLocation</font></p></td>
															<td style="$tdStyle" valign="middle" align="right"><p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">#formatCurrency($entry.pricePerFeet)&nbsp;</font></p></td>
															<td style="$tdStyle" valign="middle" align="right"><p><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">#formatCurrency($entry.netPriceWOTaxes)&nbsp;</p></td>
															<td style="$tdStyle" valign="middle" align="right"><p><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">#formatDate($entry.readyToShip)&nbsp;</p></td>
                                                        </tr>
                                                        #end
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>

                                        <br/>
                                        
                                        #if ($!ctx.order.sapWeightUnit)
                                        	#set ($baseStoreUoM =${ctx.order.sapWeightUnit})
                                        	#set ($baseStoreUoMText ="")
                                        	#if ($baseStoreUoM.contains("LB"))
                                        		#set ($baseStoreUoMText ="Lbs")
                                        	#end	
                                        	#if ($baseStoreUoM.contains("KG"))
                                        		#set ($baseStoreUoMText ="Kgs")
                                        	#end
                                        #end

                                        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="5" bordercolor="#bfc1c0">
                                            <tr>
                                                <td width="20%" ></td>
                                                <td width="20%"></td>
                                                 <td width="30%" valign="top">
												    <table  width="100%" frame="box">
												    	<tr> 
												   			<td colspan="2" align="center"><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.getMessage('Order_Summary')}<b></font></td>
												   		</tr>
												        <tr >
												            <th ><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('Base_Product')}</font></th>
												            <th ><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('Weight')}</font></th>
												        </tr>
												        #if ($!ctx.order.hotRolledWeight && $ctx.order.hotRolledWeight > 0)
												        <tr >
												            <td ><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('Hot_Rolled')}</font></td>
												            <td align="right"><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${ctx.numberTool.format('###,###,##0', ${ctx.order.hotRolledWeight})} $baseStoreUoMText</font></td>
												        </tr>
												        #end
												        #if ($!ctx.order.coldRolledWeight && $ctx.order.coldRolledWeight > 0)
												        <tr >
												            <td ><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('Cold_Rolled')}</font></td>
												            <td align="right"><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${ctx.numberTool.format('###,###,##0', ${ctx.order.coldRolledWeight})} $baseStoreUoMText</font></td>
												        </tr>
												        #end
												        #if ($!ctx.order.galvanizedWeight && $ctx.order.galvanizedWeight > 0)
												        <tr >
												            <td><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('Galvanized')}</font></td>
												            <td align="right"><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${ctx.numberTool.format('###,###,##0', ${ctx.order.galvanizedWeight})} $baseStoreUoMText</font></td>
												        </tr>
												        #end
												        #if ($!ctx.order.aluminizedWeight && $ctx.order.aluminizedWeight > 0)
												        <tr >
												            <td ><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('Aluminized')}</font></td>
												            <td align="right"><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${ctx.numberTool.format('###,###,##0', ${ctx.order.aluminizedWeight})} $baseStoreUoMText</font></td>
												        </tr>
												        #end
												        #if ($!ctx.order.galvametalWeight && $ctx.order.galvametalWeight > 0)
												        <tr >
												            <td ><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('Galvametal')}</font></td>
												            <td align="right"><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${ctx.numberTool.format('###,###,##0', ${ctx.order.galvametalWeight})} $baseStoreUoMText</font></td>
												        </tr>
												        #end
												        <tr >
												            <td ><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('Total')}</font></td>
												            <td align="right"><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${ctx.numberTool.format('###,###,##0', ${ctx.order.totalWeight})} $baseStoreUoMText</font></td>
												        </tr>
												    </table>
												</td>
                                                <td width="30%" valign="top">
                                              		<table width="100%" frame="box">
                                          				<tr> 
															<td colspan="2" align="center"><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.getMessage('Order_Totals')}<b></font></td>
														</tr>
												        <tr >
												            <th ><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">Base Product</font></th>
												            <th ><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">Total</font></th>
												        </tr>
												        #if ($!ctx.order.hotRolledPrice && $ctx.order.hotRolledPrice>0)
												        <tr >
												            <td><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('Hot_Rolled')}</font></td>
												            <td align="right"><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">#formatCurrency(${ctx.order.hotRolledPrice})</font></td>
												        </tr>
												        #end
												        #if ($!ctx.order.coldRolledPrice && $ctx.order.coldRolledPrice>0)
												        <tr >
												            <td ><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('Cold_Rolled')}</font></td>
												            <td align="right"><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">#formatCurrency(${ctx.order.coldRolledPrice})</font></td>
												        </tr>
												        #end
												        #if ($!ctx.order.galvanizedPrice  && $ctx.order.galvanizedPrice>0)
												        <tr >
												            <td ><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('Galvanized')}</font></td>
												            <td align="right"><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">#formatCurrency(${ctx.order.galvanizedPrice})</font></td>
												        </tr>
												        #end
												        #if ($!ctx.order.aluminizedPrice && $ctx.order.aluminizedPrice>0)
												        <tr >
												            <td ><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('Aluminized')}</font></td>
												            <td align="right"><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">#formatCurrency(${ctx.order.aluminizedPrice})</font></td>
												        </tr>
												        #end
												        #if ($!ctx.order.galvametalPrice && $ctx.order.galvametalPrice>0)
												        <tr >
												            <td ><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('Galvametal')}</font></td>
												            <td align="right"><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">#formatCurrency(${ctx.order.galvametalPrice})</font></td>
												        </tr>
												        #end
												        
												        #if ($!ctx.order.totalDeliveryCost && $ctx.order.totalDeliveryCost >0 )
												        <tr >
												            <td ><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('totalDeliveryCost')}</font></td>
												            <td align="right"><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">#formatCurrency(${ctx.order.totalDeliveryCost})</font></td>
												        </tr>
												        #end
												        #if ($!ctx.order.totalAssurance && $ctx.order.totalAssurance > 0)
												        <tr >
												            <td ><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('totalAssurance')}</font></td>
												            <td align="right"><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">#formatCurrency(${ctx.order.totalAssurance})</font></td>
												        </tr>
												        #end
												        #set ($store =${ctx.order.store})
			                                        	#if ($store.contains("1000"))
			                                        		#if ($!ctx.order.sapSubtotalPrice && $ctx.order.sapSubtotalPrice>0)
				                                        		<tr >
		 															<td ><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('subtotal')}</font></td>
		 															<td align="right"><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">#formatCurrency(${ctx.order.sapSubtotalPrice})</font></td>
	 															</tr>
 															#end
			                                        	#end
												        #if ($!ctx.order.totalTaxas && $ctx.order.totalTaxas >0)
												        <tr >
												            <td ><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('totalTaxas')}</font></td>
												            <td align="right"><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">#formatCurrency(${ctx.order.totalTaxas})</font></td>
												        </tr>
												        #end
												        <tr >
												            <td ><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('Total')}</font></td>
												            <td align="right"><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">#formatCurrency(${ctx.order.sapTotalPrice})</font></td>
												        </tr>
												    </table>
                                                </td>
                                            </tr>
                                        </table>

                                        <br/>
#set ($termsAndConditionsUrl = "${ctx.baseUrl}/termsAndConditions")
#set ($contactUsUrl = "${ctx.baseUrl}/contactUs/show")

#set ($accountUrl = "${ctx.baseUrl}/my-account/orders")
#set ($deliveryInfoUrl = "${ctx.baseUrl}/my-account/order/${ctx.order.code}")
#set ($mailToUrl = "mailto:${ctx.messages.contactUsEmailAddress}")
#set ($paragraphContactUs = ${ctx.messages.getMessage('paragraphContactUs', "#genHtmlLinkStartTag(${contactUsUrl})", "#genHtmlLinkEndTag()", "#genHtmlLink($mailToUrl '#666666' ${ctx.messages.contactUsEmailAddress})")})
										<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('paragraphAccountLocation', "#genHtmlLinkStartTag($accountUrl)", "#genHtmlLinkEndTag()")}</font></p>
										<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.paragraphCreateAccount}</font></p>
										<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('paragraphDeliveryInfo', "#genHtmlLinkStartTag($deliveryInfoUrl)", "#genHtmlLinkEndTag()")}</font></p>
										<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">$paragraphContactUs</font></p>
										<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.complimentaryClosing}</font></p>
										<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.signature}</font></p>
									</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td align="center" valign="middle">
										<a href="${ctx.baseUrl}" style="display:block; margin-top:10px;margin-bottom:10px;">${ctx.cmsSlotContents.BottomContent}</a>
									</td>
								</tr>
								<tr>
									<td height="30" align="right" valign="middle" bgcolor="#51585c">
										<font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><a href="${contactUsUrl}"><font color="#FFFFFF">${ctx.messages.contactUs}</font></a> | <a href="${termsAndConditionsUrl}"><font color="#FFFFFF">${ctx.messages.termsAndCondition}</font></a> &nbsp;&nbsp;</font>
									</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
	</table>
</body>
</html>