H1 {font-family:Tahoma,Arial,sans-serif;color:white;font-size:22px;}
H2 {font-family:Tahoma,Arial,sans-serif;color:white;font-size:16px;}
H3 {font-family:Tahoma,Arial,sans-serif;color:white;font-size:14px;}
H4,H5 {font-family:Tahoma,Arial,sans-serif;color:white;}
BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
P {font-family:'Open Sans',sans-serif;color:black;font-size:12px;}
A {color : #474D5D;}
A.name {color : black;}
HR {color : #525D76;}
